[Desktop Entry]
Type=Application
Name=ReCircle
#Exec=/usr/bin/python3 /home/pi/RaspiReCircle/ReCircle.py
Exec=xterm -hold -e 'sudo /usr/bin/python3 /home/pi/RaspiReCircle/ReCircle.py'